.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }


.loader-wrap {
    display: none;
}

.alert{
  display: none;
}

/* a{
    display: none;
} */

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } 


#main-content .col{
  margin: 30px;
  /* border: 2px solid white; */
  background-color: white;
  box-shadow: 2px 2px 3px #000000cc;
  padding: 20px;
  border-radius: 10px;
}

#main-content .lead{
  text-align: center;
}

body{
  background: #d6249f;
  background: radial-gradient(to top right, #fdf497, #fdf497, #fd5949 ,#d6249f ,#285AEB );
  background-size: cover;
  /* color: white; */
}

